

<div class="edus-container">
    <div class="edus-box">
        <div class="edus-background">
          <div class="edus-ava">
            <% if !current_user.image.url %>
              <img src="/uploads/user/image/avt_define/avt_male.png" class="avatar-size rounded-circle">
            <% else %>
              <%= image_tag current_user.image.to_s, :class => "avatar-size rounded-circle" %>
            <% end %>
          </div>
          <% if !current_user.tutor && !current_user.student%>
          <div class="edus-edit">
            <%# <button class="btn btn-primary">Edit your profile</button> %>
            <%= link_to 'Become student', new_student_path   %>
            <%= link_to 'Become teacher', new_tutor_path   %>
          </div>
          <% end %>
        </div>
        <div class="edus-area-show edus-content-item">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,  class:"datetimepicker" }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>


            <div class="edus-header">
              <h2>Cập nhật thông tin người dùng</h2>
            </div>
            <div class="field form-group">
              Ảnh đại diện:
              </br>
              <%= f.file_field :image %>
            </div>
          <div class = "form-grid">
            <div class="field form-group">
              <%= f.label :username %><br />
              <%= f.text_field :username, autofocus: true, autocomplete: "username",class:"form-control" %>
              <span id="username_error" class="my-error-span"></span>
            </div>

            <div class="field form-group">
              <%= f.label :name, "Họ và tên" %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name",class:"form-control" %>
              <span id="name_error" class="my-error-span"></span>
            </div>

            <div class="field form-group">
              <%= f.label :phone, "Số điện thoại" %><br />
              <%= f.text_field :phone, autofocus: true, autocomplete: "phone",class:"form-control" %>
              <span id="phone_error" class="my-error-span"></span>
            </div>

            <div class="field form-group">
              <%= f.label :gender, "Giới tính" %><br />
              <%= f.label :gender, "Female", :value => "Female"  %>
              <%= f.radio_button :gender, "Female"%>
              <%= f.label :gender, "Male", :value => "Male" %>
              <%= f.radio_button :gender, "Male"%>
            </div>

            <div class="field form-group">
              <%= f.label :birthday,"Ngày sinh" %><br/>
              <%= f.date_field :birthday, class:"form-control"%>
            </div>




          <div class="field form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password",class:"form-control" %>
            <% if @minimum_password_length %>

              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="field form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: "current-password",class:"form-control" %>
          </div>

        </div>
        <div class="actions">
            <%= f.submit "Cập nhật", class:"mbtn-danger" %>
          </div>
        <% end %>
        <div class="edus-header">
          <h2>Xóa tài khoản</h2>
        </div>
        <p> <%= button_to "Xóa tài khoản", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class:"mbtn-primary" %></p>


        <%= link_to "Quay lại", :back %>

      </div>
</div>
