<!-- <h1>Thông tin cá nhân</h1>
<% if @student.errors.any? %>
    <h2>The following errors prevented the article from getting created</h2>
    <ul>
    <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for @student do |f| %>
<p>

<%= f.label :address %><br/>
<%= f.text_field :address %>

</p>

<p>

<%= f.label :grade %><br/>
<%= f.text_field :grade %>

</p>

<p>

<%= f.submit %>

</p>

<% end %> -->

<div class="stued-container">
    <div class="stued-area">
        <div class="stued-header">
            <h2>Chỉnh sửa thông tin cá nhân</h2>
        </div>
          <%= render 'form' %>
      <iframe width="100%" height="100%" frameborder="0" 
        style="border:0" allowfullscreen src="https://www.google.com/maps/embed/v1/directions?origin=Tate+Modern
          &destination=Tower+of+London
          &key=AIzaSyDA94X9IrCpntq9OUufu8WwXToU62hyTz8">
      </iframe>
    </div>
</div>
