<div class="stush-container">
    <div class="stush-area">
        <div class="stush-header">
            <div class="stush-header-1">

            </div>
            <div class="stush-header-2">
                <%# <div class="stush-ava"> %>
                    <%= image_tag current_user.image.to_s , class: "stush-ava"%>
                <%# </div> %>
                <div class="stush-header-2-content">
                    <h2> <%= @student.user.username %> </h2>
                    <h3>
                        &ensp;
                        <%= link_to edit_student_path(@student) do %>
                            <i class="fas fa-edit"></i>
                        <% end %>
                        </h3>
                    <% if current_student == @student %>
                    <%# <div class="edus-edit"> %>
                        <%= link_to "Edit your student 's profile",  edit_student_path , class: 'mbtn-primary' %>
                    <%# </div> %>
                        <%= link_to "Edit user's profile",  edit_user_registration_path , class: 'mbtn-primary' %>
                   <% end %>

                </div>
            </div>
            <div class="stush-header-3">
                <div class="stush-header-3-left">
                    <div>
                        <div class = "icon-custom">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <span>
                            &ensp; Học viên
                        </span>
                    </div>
                                        <div>
                        <div class = "icon-custom">
                            <i class="fas fa-coins"></i>
                        </div>
                        <span>
                            &ensp; B point
                        </span>
                    </div>


                </div>
                <div class="stush-header-3-center">
                    <div class="stush-header-3-center-sub">
                        <div class="sub-first-line">0</div>
                        Lớp đã tạo
                    </div>
                    <div class="stush-header-3-center-sub">
                        <div class="sub-first-line">0</div>
                        Gia sư yêu thích
                    </div>
                    <div class="stush-header-3-center-sub">
                        <div class="sub-first-line">0</div>
                        Lượt đánh giá
                    </div>
                </div>
                <div class="stush-header-3-right">
                    <%= link_to 'Đăng yêu cầu tìm giáo viên',  new_class_register_path , class: 'mbtn-primary' %>
                </div>
            </div>
        </div>
        <div class="stush-content">
            <div class="view-header">
                <span>
                    Thông tin học viên
                </span>
            </div>
            <div class="view-content">
                <div>
                    <span> Name:  </span> <%= @student.user.username %>
                </div>
                <div>
                    <span> Birthday:  </span> <%= @student.user.birthday %>
                </div>
                <div>
                    <span> Địa chỉ:  </span> <%= @student.address %> 
                </div>
                <div>
                    <span> Lớp:  </span> <%= @student.grade %> 
                </div>
            </div>
        </div>

    </div>
</div>
