<%= form_for @tutor  do |f| %>

      <div class="field form-group">
          <!-- <%= image_tag current_user.image.to_s, :class => "avatar-size rounded-circle", :id => "regis-ava" %> -->
          <span>Ảnh đại diện:</span>
           <%= f.file_field :image, class: "mbtn-primary" %>
      </div>

    <div class="stued-content">
        <div class="stued-content-block">
            <%= f.label :job, "Nghề nghiệp" %><br/>
            <%= f.text_field :job, class:'form-control' %>
            <small><span id="job_error", class="my-error-span"></span></small>
        </div>

        <div class="stued-content-block">
            <%= f.label :work_place, "Nơi làm việc" %><br/>
            <%= f.text_field :work_place, class:'form-control' %>
            <small><span id="work_place_error", class="my-error-span"></span></small>
        </div>

        <div class="stued-content-block">
            <%= f.label :description, "Mô tả bản thân" %><br/>
            <%= f.text_area :description, class:'form-control' %>
            <small><span id="description_error", class="my-error-span"></span></small>
        </div>

        <div class="stued-content-block">
            <%= f.label :achievement, "Thành tựu" %><br/>
            <%= f.text_area :achievement, class:'form-control' %>
            <small><span id="achievement_error", class="my-error-span"></span></small>
        </div>

        <div class="stued-content-block">
            <%= f.label :location_id, "Tỉnh/Thành phố " %><br/>
            <%= f.select("location_id", Location.select(:city, :city_id).distinct.collect { |p| [ p.city, p.city_id ] }, { },{:class=>"location-city custom-select"})%>
            <span id="city_error" class="my-error-span"></span>
        </div>

        <div class="stued-content-block">
            <%= f.label :location_id, "Quận/Huyện" %><br/>
            <%= f.select("location_id", {}, { },{:class=>"location-district custom-select"})%>
            <span id="district_error" class="my-error-span"></span>
        </div>

        <div class="stued-content-block">
            <%= f.label :location_id, "Phường/Xã" %><br/>
            <%= f.select("location_id", {}, { },{:class=>"location-sub-district custom-select"})%>
            <span id="sub_district_error" class="my-error-span"></span>
        </div>

    </div>
    <br/>
    <%= f.label :subject,"Môn học" %><br/>
    <div class="checkbox-area">
            <div class="checkbox-grid">
              <% Subject.all.each do |subject| %>
              <div class="row-calendar-check">
                <ul>
                  <li>
                      <%= check_box_tag "tutor[subject_ids][]",subject.id,@tutor.subject_ids.include?(subject.id), { id: "tutor_subject_ids_#{subject.id}" } %>
                      <%= label_tag "tutor[subject_ids][#{subject.id}]",subject.name %>
                  </li>
                </ul>
              </div>
              <% end %>
            </div>

    </div>
    <%= f.label :times_free_ids, "Lịch rảnh" %><br/>
    <div class="checkbox-area">
            <div class="checkbox-grid">
              <% i = 0 %>
              <% TimesFree.all.each do |timesfree| %>
                  <% i = i+1 %>
                  <% if i%3 == 1 %>
                      <div class="row-calendar-check">
                          <h6><%= timesfree.day %></h6>
                          <ul>
                  <% end %>
                            <li>
                              <%= check_box_tag "tutor[times_free_ids][]",timesfree.id,@tutor.times_free_ids.include?(timesfree.id), { id: "tutor_times_free_ids_#{timesfree.id}" } %>
                              <%= label_tag "tutor[times_free_ids][#{timesfree.id}]",timesfree.free_time %>
                            </li>
                  <% if i%3 == 0 %>
                          </ul>
                      </div>
                  <% end %>
              <% end %>
            </div>
    </div>
    <%# <div class = "map-area">
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.688968692136!2d105.84344031460468!3d21.00510138601124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac76e3624a59%3A0x4f3ae5ee12bfcc19!2zVGjGsCB2aeG7h24gVOG6oSBRdWFuZyBC4butdQ!5e0!3m2!1svi!2s!4v1584109839467!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    </div> %>
  <%= f.submit "Tạo hồ sơ", class:' mbtn-primary'%>

<%# <%= params.inspect%>
<% end %>
<script>

  $(document).on( "turbolinks:load",function() {
    
    function validates_tutor_input(){
      var flag = true;
      var job = $.trim($('#tutor_job').val());
      var work_place = $.trim($('#tutor_work_place').val());
      var description = $.trim($('#tutor_description').val());
      var achievement = $.trim($('#tutor_achievement').val());
      if (job == ''){
          $('#job_error').text('Nghề nghiệp của bạn là gì?');
          flag = false;
      }
      else
        $('#job_error').text('');
      if (work_place == ''){
          $('#work_place_error').text('Bạn đang làm việc ở đâu?');
          flag = false;
      }
      if(description == '' || description.length < 10){
         $('#description_error').text('Hãy mô tả một chút về bạn, tối thiểu 20 kí tự!');
         flag = false;
      }
      else
        $('#description_error').text('');

      if(achievement == '' || achievement.length < 10){
         $('#achievement_error').text('Bạn đã có thành thích gì vậy? tối thiểu 20 kí tự!');
         flag = false;
      }
      else
        $('#achievement_error').text('');
      // validate_location();
      if(!validate_location()){
        flag = false;
      }
      return flag;
    }

    $('#new_tutor').submit(function(){
      return validates_tutor_input();
    });

    var action = "<%= params[:action]%>";
    if (action == 'edit') {
      var tutor_id = "<%= @tutor.id || 'null'%>";
      $('#edit_tutor_'+tutor_id).submit(function(){
        return validates_tutor_input();
      });
    }

  });
</script>
