<% index = 1 %>

<% obj.each do |tutor| %>
  <% @subjects = tutor.subjects %>
  <% @user = User.find(tutor.user_id) %>
  <% @location = Location.find(tutor.location_id) %>
  <% if index%3 == 1 %>
    <div class="row" >
  <% end %>
    <div class="col-sm-3">
      <div class="card" style="width:300px">
        <%= image_tag @user.image.to_s, :class => "card-img-top", style: "width:100%" %>
        <div class="card-body">
          <h5 class="card-title"><%= @user.name %></h5>
          <p class="card-text">
            <% if @subjects %>
              <% @subjects.each do |subject| %>
                <small><u><strong><%= link_to subject.name, class: "badge badge-secondary"%></strong></u></small>
              <% end %>
            <% end %></br>
            Job: <%= tutor.job %> in <%= tutor.work_place %></br>
            Address: <%= @location.city %></br>
            <%= tutor.description %>
          </p>
          <a><%= link_to "Register now", tutor_path(tutor), class: "btn btn-primary"%></a>
        </div>
    </div>
  </div>
  <% if index%3 == 0 %>
    </div>
  <% end %>
  <% index = index+1 %>
<% end %>
