<% index = 1 %>

<%= form_tag tutors_path, :method => 'get' do %>
  <%= collection_select :tutor, :location_id, Location.all, :id, :city, prompt: "Chọn địa điểm"%>
  <%= collection_select :tutor, :subject_id, Subject.all, :id, :name, prompt: "Chọn môn học" %>
  <%= submit_tag "Áp dụng", class: "btn-primary btn" %>
<% end %>

<% obj.each do |tutor| %>
  <% @subjects = tutor.subjects %>
  <% @user = User.find(tutor.user_id) %>
  <% @location = Location.find(tutor.location_id) %>
  <% if index%3 == 1 %>
    <div class="row" >
  <% end %>
    <div class="col-sm-3">
      <div class="card" style="width:300px">
      <% if !@user.image.url %>
        <img src="/uploads/user/image/avt_define/default_avt.jpg" class= "card-img-top", style= "width:100%">
      <% else %>
        <%= image_tag @user.image.to_s, :class => "card-img-top", style: "width:100%" %>
      <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= @user.name %></h5>
          <p class="card-text" style="height:120px">
            <% if @subjects %>
              <% count = 1 %>
              <% @subjects.each do |subject| %>
                <% count = count +1  %>
                  <% if count < 4 %>
                    <span class="badge badge-secondary"><%= subject.name %></span>
                  <% end %>
                <% end %>
              <span class="badge badge-secondary">...</span>
            <% end %></br>
            Job: <%= tutor.job %> in <%= tutor.work_place %></br>
            Address: <%= @location.city %></br>
            <% if !tutor.description %>
              Description: (no description)
            <% else %>
              Description: <%= tutor.description %>
            <%end%>
          </p>
          <a><%= link_to "Register now", tutor_path(tutor), class: "btn btn-primary"%></a>
        </div>
    </div>
  </div>
  <% if index%3 == 0 %>
    </div>
  <% end %>
  <% index = index+1 %>
<% end %>
