<div class="edus-container">
  <div class="edus-box">
    <div class="edus-background">
      <div class="edus-ava">
        <% if !@user.image.url %>
          <img src="/uploads/user/image/avt_default/default-avatar.png" class ="avatar-size rounded-circle", id ="regis-ava">
          <% else %>
            <%= image_tag @user.image.to_s , :class => "avatar-size rounded-circle", :id =>"regis-ava"%>
          <% end %>
      </div>
    </div>

    <div class="stued-container">
      <div class="regis-area">
        <div class="view-header-2">
              <span>
                  <i class="fas fa-chalkboard"></i>
                  Cập nhật hồ sơ gia sư
              </span>
        </div>
        <%= render 'form'%>
      </div>
      <%= link_to "Back", :back %>
    </div>
  <%# </div> %>
  </div>
</div>
<script>

  var action = "<%= params[:action]%>"
  // console.log(action);
  if( action == 'edit'){
    console.log("us");
    var city_id = "<%=  @location.city_id ||  'null' %>";
    var district_id = "<%=  @location.district_id ||  'null' %>";
    var district_name = "<%=  @location.district ||  'null' %>";
    var id = "<%=  @location.id ||  'null' %>";
    var sub_district_name = "<%=  @location.sub_district ||  'null' %>";
    

    console.log(city_id);
    console.log(district_id);
    console.log(id);
    $(".location-city option[value="+ city_id +"]").attr("selected","selected");
    $(".location-district").append(`<option value="${district_id}">${district_name}</option>`)
    $(".location-district option[value="+ district_id +"]").attr("selected","selected");
    $(".location-sub-district").append(`<option value="${id}">${sub_district_name}</option>`)
    $(".location-sub-district option[value="+ id +"]").attr("selected","selected");
  }
  
</script>
