<div class="stush-container">
    <div class="stush-area">
        <div class="stush-header">
            <div class="stush-header-1">

            </div>
            <div class="stush-header-2">
                 <div class="stush-ava">
                <% if !@tutor.user.image.url %>
                  <img src="/uploads/user/image/avt_default/default-avatar.png" class="avatar-size rounded-circle">
                  <% else %>
                    <%= image_tag @tutor.user.image.to_s , class: "avatar-size rounded-circle"%>
                  <% end %>
                 </div>
                <div class="stush-header-2-content">
                    <h2> <%= @tutor.user.username %> </h2>
                    <h3>
                        &ensp;
                        <%= link_to edit_tutor_path(@tutor) do %>
                            <i class="fas fa-edit"></i>
                        <% end %>
                        </h3>
                    <% if current_tutor == @tutor %>
                    <%# <div class="edus-edit"> %>
                        <%= link_to 'Sửa hồ sơ',  edit_tutor_path , class: 'mbtn-primary' %>
                    <%# </div> %>
                        <%= link_to 'Sửa thông tin cá nhân',  edit_user_registration_path , class: 'mbtn-primary' %>
                   <% end %>
                </div>
            </div>
            <div class="stush-header-3">
                <div class="stush-header-3-left">
                    <div>
                        <div class = "icon-custom">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <span>
                            &ensp; Giảng viên
                        </span>
                    </div>
                    <div>
                        <div class = "icon-custom">
                            <i class="fas fa-coins"></i>
                        </div>
                        <span>
                            &ensp;<% if current_tutor == @tutor %> <%= @tutor.user.bpoint %><%end%> B point
                        </span>
                    </div>


                </div>
                <div class="stush-header-3-center">
                    <div class="stush-header-3-center-sub">
                        <div class="sub-first-line"><%= @tutor.num_class %></div>
                        Lớp đã dạy
                    </div>
                    <div class="stush-header-3-center-sub">
                        <div class="sub-first-line"><%= @tutor.students.count %></div>
                        Người quan tâm
                    </div>
                    <div class="stush-header-3-center-sub">
                        <div class="sub-first-line"><%= @tutor.rates("point").count %></div>
                        Lượt đánh giá
                    </div>
                </div>
                <div class="stush-header-3-right">
                    <!-- <button class=" mbtn-primary">Đăng yêu cầu tìm giáo viên</button> -->
                </div>
            </div>
        </div>
        <div class="stush-content">
            <div class="view-header">
                <span>
                   Thông tin gia sư
                </span>
            </div>
            <div class="view-content">
                <div>
                    <span> Tên:  </span> <%= @tutor.user.username %>
                </div>
                <div>
                    <span> Ngày sinh:  </span> <%= @tutor.user.birthday %>
                </div>
                <div>
                    <span> Địa chỉ:  </span> <%= @tutor.location.city %>, <%= @tutor.location.district %>, <%= @tutor.location.sub_district %>
                </div>
            </div>
        </div>
        <div class="stush-content">
            <div class="view-header">
                <span>
                   Lịch dạy gia sư
                </span>
            </div>
            <div class="checkbox-area">
                <div class="checkbox-grid">
                    <% i = 0 %>
                    <% TimesFree.all.each do |timesfree| %>
                    <% i = i+1 %>
                    <% if i%3 == 1 %>
                        <div class="row-calendar-check">
                            <h6><%= timesfree.day %></h6>
                            <ul>
                    <% end %>
                                <li>
                                    <% if @tutor.times_frees.include? timesfree %>
                                        <div class="label-for-show-active"> <%= timesfree.free_time %></div>
                                    <% else %>
                                        <div class="label-for-show"> <%= timesfree.free_time %></div>
                                    <% end %>
                                </li>
                        <% if i%3 == 0 %>
                                </ul>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="stush-content">
            <div class="view-header">
                <span>
                   Đánh giá gia sư
                </span>
            </div>

            <div id="ratings_for_tutor">
                <div class="ratings_left">
                    <div class="ratings_left_average">
                        <% if @tutor.average("point") %>
                            <%= @tutor.average("point").avg.round(2)%>
                        <% end %>
                        <%# <%= current_tutor.location.sub_district%>
                    </div>
                    <div class="ratings_left_star">
                        <%# <%= rating_for @tutor, "point", enable_half: true %>
                    </div>
                    <div class="ratings_left_total">
                        <i class="fas fa-user"></i>
                        <span>Total:</span>
                        <span>
                            <%= @tutor.rates("point").count %>
                        </span>
                    </div>
                    <% if current_student %>
                        <div class="ratings_for_user">
                            <div>
                                <span>
                                    Your rating
                                </span>
                            </div>
                            <%= rating_for @tutor, "point", readOnly: true, disable_after_rate: false, enable_half: true %>
                        </div>
                    <% end %>
                </div>
                <div class="ratings_right">
                    <div class="ratings_right_item">
                        <div class="ratings_right_item_number">
                            <span> 5
                            </span>
                        </div>
                        <div class="ratings_right_item_graph">
                            <% if @tutor.rates("point").count  > 0%>
                                <%= content_tag(:div,"", style: "width: #{Rate.where({rateable_id: @tutor.id, stars: 5}).count.to_f/@tutor.rates("point").count.to_f   * 100 }%; background-color:#79C9A1" ) %>
                            <% end %>
                        </div>
                    </div>
                    <div class="ratings_right_item">
                        <div class="ratings_right_item_number">
                            <span> 4
                            </span>
                        </div>
                        <div class="ratings_right_item_graph">
                            <% if @tutor.rates("point").count  > 0%>
                                <%= content_tag(:div,"", style: "width: #{Rate.where({rateable_id: @tutor.id, stars: 4}).count.to_f/@tutor.rates("point").count.to_f   * 100 }%; background-color:#AED888" ) %>
                            <% end%>
                        </div>
                    </div>
                    <div class="ratings_right_item">
                        <div class="ratings_right_item_number">
                            <span> 3
                            </span>
                        </div>
                        <div class="ratings_right_item_graph">
                            <% if @tutor.rates("point").count  > 0%>
                                <%= content_tag(:div,"", style: "width: #{Rate.where({rateable_id: @tutor.id, stars: 3}).count.to_f/@tutor.rates("point").count.to_f   * 100 }%; background-color:#FFD935" ) %>
                            <% end%>
                        </div>
                    </div>
                    <div class="ratings_right_item">
                        <div class="ratings_right_item_number">
                            <span> 2
                            </span>
                        </div>
                        <div class="ratings_right_item_graph">
                            <% if @tutor.rates("point").count  > 0%>
                                <%= content_tag(:div,"", style: "width: #{Rate.where({rateable_id: @tutor.id, stars: 2}).count.to_f/@tutor.rates("point").count.to_f   * 100 }%; background-color:#FFB235" ) %>
                            <% end%>
                        </div>
                    </div>
                    <div class="ratings_right_item">
                        <div class="ratings_right_item_number">
                            <span> 1
                            </span>
                        </div>
                        <div class="ratings_right_item_graph">
                            <% if @tutor.rates("point").count  > 0%>
                                <%= content_tag(:div,"", style: "width: #{Rate.where({rateable_id: @tutor.id, stars: 1}).count.to_f/@tutor.rates("point").count.to_f   * 100 }%; background-color:#FF8C5A" ) %>
                            <% end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
