<div class="stush-container">
    <div class="stush-area">
        <div class="stush-header">
            <div class="stush-header-1">

            </div>
            <div class="stush-header-2">
                <div class="stush-ava">
                  <% if !current_user.image.url %>
                    <img src="/uploads/user/image/avt_define/default_avt.jpg" class="avatar-size rounded-circle">
                  <% else %>
                    <%= image_tag current_user.image.to_s, :class => "avatar-size rounded-circle" %>
                  <% end %>
                </div>
                <div class="stush-header-2-content">
                    <h2> <%= @tutor.user.username %> </h2>
                    <h3>
                        &ensp;
                        <%= link_to edit_tutor_path(@tutor) do %>
                            <i class="fas fa-edit"></i>
                        <% end %>
                        </h3>
                    <% if current_tutor == @tutor %>
                    <%# <div class="edus-edit"> %>
                        <%= link_to 'Edit your profile',  edit_tutor_path , class: 'mbtn-primary' %>
                    <%# </div> %>
                        <%= link_to 'Edit user',  edit_user_registration_path , class: 'mbtn-primary' %>
                   <% end %>
                </div>
            </div>
            <div class="stush-header-3">
                <div class="stush-header-3-left">
                    <div>
                        <div class = "icon-custom">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <span>
                            &ensp; Học viên
                        </span>
                    </div>
                                        <div>
                        <div class = "icon-custom">
                            <i class="fas fa-coins"></i>
                        </div>
                        <span>
                            &ensp; B point
                        </span>
                    </div>


                </div>
                <div class="stush-header-3-center">
                    <div class="stush-header-3-center-sub">
                        <div class="sub-first-line">0</div>
                        Lớp đã tạo
                    </div>
                    <div class="stush-header-3-center-sub">
                        <div class="sub-first-line">0</div>
                        Lớp đã tạo
                    </div>
                    <div class="stush-header-3-center-sub">
                        <div class="sub-first-line">0</div>
                        Lớp đã tạo
                    </div>
                    <div class="stush-header-3-center-sub">
                        <div class="sub-first-line">0</div>
                        Lớp đã tạo
                    </div>
                </div>
                <div class="stush-header-3-right">
                    <!-- <button class=" mbtn-primary">Đăng yêu cầu tìm giáo viên</button> -->
                </div>
            </div>
        </div>
        <div class="stush-content">
            <div class="view-header">
                <span>
                   Tutor 's information
                </span>
            </div>
            Sinh viên tại đại học bách khoa Hà Nội
        </div>
        <div class="stush-content">
            <div class="view-header">
                <span>
                   Lịch dạy gia sư
                </span>
            </div>
            <div class="checkbox-area">
        <div class="checkbox-grid">
        <% i = 0 %>
        <% TimesFree.all.each do |timesfree| %>
          <% i = i+1 %>
          <% if i%3 == 1 %>
              <div class="row-calendar-check">
                  <h6><%= timesfree.day %></h6>
                  <ul>
          <% end %>
                      <li>
                          <% if @tutor.times_frees.include? timesfree %>
                            <div class="label-for-show-active"> <%= timesfree.free_time %></div>
                          <% else %>
                            <div class="label-for-show"> <%= timesfree.free_time %></div>
                          <% end %>
                      </li>
          <% if i%3 == 0 %>
                  </ul>
              </div>
          <% end %>
        <% end %>
        </div>
      </div>
        </div>

    </div>
</div>
