
<div class="edus-container">
  <div class="edus-box">
    <div class="edus-background">
      <div class="edus-ava">
        <%= image_tag @user.image.to_s, :class => "avatar-size rounded-circle" %>
      </div>
    </div>
    <div class="edus-area">
      <div class="edus-header">
        <h2><%= @user.name %>'s Information</h2>
      </div>
      <% if @tutor %>
      <div class="form-group">
        <h5>Job:</h5>
        <%= @tutor.job %>
      </div>
      <div class="form-group">
        <h5>Description:</h5>
        <%= @tutor.description %>
      </div>
      <div class="form-group">
        <h5>Achievement:</h5>
        <%= @tutor.achievement %>
      </div>
      <div class="form-group">
        <h5>Point:</h5>
        <%= @tutor.point %>
      </div>
      <div class="form-group">
        <h5>Location:</h5>
        <%= @location.city %>
      </div>
      <% else %>
        <h3> can't find this tutor </h3>
      <% end %>

        <div class="form-group">
          <% if current_user.id = @user.id %>
          <%= link_to 'Edit information', edit_tutor_path(@tutor) %>
          <% end %>
        </div>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
