<div id="root">
    <%= render 'layouts/messages' %>
    <%= render 'layouts/carousel'%>  

    <section class="mad">
        <div class="mad-header">
            <div class="mad-hemer-1">
                <h2><i class="fas fa-graduation-cap"></i> &ensp;Gia sư khắp cả nước</h2>
            </div>
            <div class="mad-heamder-2">
                <h2><i class="fa fa-user-circle"></i> &ensp; 90000 + Lượt truy cập hằng ngày</h2>
            </div>
            <div class="mad-headmer-3">
                <h2><i class="fa fa-handshake"></i> &ensp; Yêu cầu tìm gia sư</h2>
            </div>
        </div>
        <div class="mad-ytb">      <iframe width="560" height="315" src="https://www.youtube.com/embed/fcB2uf3y-R8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="mad-content">
            <!-- header -->
            <div class="mad-content-item show-on-scroll">
                <h3>
                    Tìm gia sư theo công nghệ 4.0
                </h3>
        </div>
            <!-- content -->
            <div class="mad-content-item show-on-scroll">
                <div>
                    <i class="fas fa-thumbs-up"></i>
                </div>
                <div>
                    <h4>Chất lượng</h4>
                    <p>Gia sư được kiểm duyệt kỹ càng và đánh giá khách quan bởi phụ huynh.</p>
                </div>
                
            </div>
            <div class="mad-content-item show-on-scroll">
                <div>
                    <i class="fas fa-thumbs-up"></i>
                </div>
                <div>
                    <h4>Linh hoạt</h4>
                    <p>Blacasa cung cấp dịch vụ linh hoạt, tùy chỉnh dễ dàng.</p>
                </div>
                
            </div>
            <div class="mad-content-item show-on-scroll">
                <div>
                    <i class="fas fa-thumbs-up"></i>
                </div>
                <div>
                    <h4>Kết nối trực tiếp</h4>
                    <p>Kết nối học viên với hàng nghìn gia sư khắp cả nước theo mô hình Uber, Grab.</p>
                </div>
                
            </div>
            <div class="mad-content-item show-on-scroll">
                <div>
                    <i class="fas fa-thumbs-up"></i>
                </div>
                <div>
                    <h4>Lựa chọn đa dạng</h4>
                    <p>Gia sư là giảng viên, giáo viên, sinh viên, người nước ngoài,vv...</p>
                </div>
                
            </div>
            <div class="mad-content-item show-on-scroll">
                <div>
                    <i class="fas fa-thumbs-up"></i>
                </div>
                <div>
                    <h4>Tùy chọn học phí</h4>
                    <p>Nhiều gia sư cùng đấu giá mức học phí, bạn chỉ cần lựa chọn học phí phù hợp nhất.</p>
                </div>
                
            </div>
            <div class="mad-content-item show-on-scroll">
                <div>
                    <i class="fas fa-thumbs-up"></i>
                </div>
                <div>
                    <h4>Nhanh chóng</h4>
                    <p>Chỉ mất 2 phút để đăng yêu cầu tìm gia sư.</p>
                </div>
                
            </div>
            <%= link_to 'Create new class register', new_class_register_path, class: "mad-content-item mbtn-primary show-on-scroll"  %>
            <%# <button class="">Đăng yêu cầu tìm gia sư</button> %>
        </div>
    </section>
    <section class="slick">
        <% all_tutors.each do |f|%>
           <div class="slick-item">
            <div class="slick-item-block">
                 <%= link_to tutor_path(f), target: "__blank",class: "slick-item-ava" do %>
                    <%= image_tag f.user.image.to_s %>
                 <% end %> 
                 
                 <div class="slick-item-info">
                    <%= link_to tutor_path(f), target: "__blank" do %>
                        <%= f.user.username%>
                    <% end %>
                    <p>
                        <%= f.location.city %>
                        &ensp; | 
                        &ensp;
                        <%= f.subjects.name%>
                    </p>
                 </div>   
                 <div class="slick-item-desctiption">
                    <%= f.description[0..29] %>
                    <% if f.description.length >= 29 %>
                        ....
                    <% end %>
                 </div>   
                 <div class="slick-item-option">
                    <button class="mbtn-primary">Mời dạy</button>
                    <button class="mbtn-danger">Lưu</button>
                 </div>   
            </div>  
            <div class="slick-overlay">

            </div>            
        </div>           
        <% end %>
    </section>
</div>    