<div class="edus-container">
    <div class="edus-box">
        <div class="edus-background">
          <div class="edus-ava">
            <% if !current_user.image.url %>
                <img src="/uploads/user/image/avt_default/default-avatar.png" class="avatar-size rounded-circle">
            <% else %>
              <%= image_tag current_user.image.to_s, :class => "avatar-size rounded-circle" %>
            <% end %>
          </div>
          <div class="edus-edit">
            <%# <button class="btn btn-primary">Edit your profile</button> %>
            <%= link_to 'Sửa đổi thông tin',  edit_user_registration_path , class: 'mbtn-primary' %>
          </div>
        </div>
         <div class = "edus-nav-and-content">
          <div class ="edus-nav">
            <div class = "edus-nav-item user-navbar-active" value="1">
              <i class = "fas fa-smile">
              </i>
              Thông tin cá nhân
              <i class = "fas fa-chevron-down">
              </i>

            </div>
            <div class = "edus-nav-item" value="2">
              <i class="fa fa-pencil-square"></i>
              Quản lý yêu cầu
              <i class = "fas fa-chevron-down">
              </i>
            </div>
            <div class = "edus-nav-item" value="3" >
              <i class="fas fa-comments"></i>
              Gia sư ưa thích
              <i class = "fas fa-chevron-down">
              </i>
            </div>
             <div class = "edus-nav-item" value="4" >
             <i class="fa fa-bell"></i>
              Thông báo
              <i class = "fas fa-chevron-down">
              </i>
            </div>
          </div>
          <div class ="edus-content">
            <div class="edus-area edus-content-item ">
              <div class="edus-header">
                <h2>Thông tin người dùng</h2>
              </div>

              <div class="edus-show-info">
                <div class="edus-show-info-item">
                  <div>
                      Email:
                  </div>
                  <div class="edus-show-info-content">
                      <%= @user.email %>
                  </div>
                </div>
                <div class="edus-show-info-item">
                  <div>
                      Username:
                  </div>
                  <div class="edus-show-info-content">
                      <%= @user.username %>
                  </div>
                </div>
                <div class="edus-show-info-item">
                  <div>
                      Tên:
                  </div>
                  <div class="edus-show-info-content">
                      <%= @user.name %>
                  </div>
                </div>
                <div class="edus-show-info-item">
                  <div>
                      Số điện thoại:
                  </div>
                  <div class="edus-show-info-content">
                      <%= @user.phone %>
                  </div>
                </div>
                <div class="edus-show-info-item">
                  <div>
                      Giới tính:
                  </div>
                  <div class="edus-show-info-content">
                      <% if @user.gender == 1%>Male
                      <% else %> Female
                      <% end %>
                  </div>
                </div>
                <div class="edus-show-info-item">
                  <div>
                      Ngày sinh:
                  </div>
                  <div class="edus-show-info-content">
                      <%= @user.birthday %>
                  </div>
                </div>
                <div class="edus-show-info-item">
                  <div>
                      Bpoint:
                  </div>
                  <div class="edus-show-info-content">
                      <%= @user.bpoint %>
                  </div>
                </div>
              </div>


            </div>
            <%# second,third... nav %>
            <div class = "edus-content-item edus-content-item-style">
              <div class="edus-content-item-header">
                <h2>
                Quản lý yêu cầu
                </h2>

              </div>
              <div class="edus-content-item-content">
                <% if @class_register %>
                  <% @class_registers.each do |class_register| %>
                    Lớp học: <%= link_to class_register.description, class_register_path(class_register) %><br>
                  <% end %>
                <% else %>
                  Không có yêu cầu nào
                <% end %>
              </div>
          </div>

          <div class = "edus-content-item edus-content-item-style">
              <div class="edus-content-item-header">
                <h2>
                Gia sư ưa thích
                </h2>

              </div>
              <div class="edus-content-item-content">
                <% if current_student %>
                  <% current_student.tutors.each do |t| %>
                    Gia sư: <%= link_to t.user.username.to_s, tutor_path(t) %><br>
                  <% end %>
                  <% if current_student.tutors.size == 0 %>
                    Không có gia sư yêu thích
                  <% end %>
                <% else  %>
                  Bạn đang là gia sư không thể lưu gia sư yêu thích
                <% end %>
              </div>
          </div>
          <div class = "edus-content-item edus-content-item-style">
              <div class="edus-content-item-header">
                <h2>
                Thông báo
                </h2>

              </div>
              <div class="edus-content-item-content" >
                <% if @temp_hash %>
                <ul class="list-group">
                  <% @temp_hash.each do |message,obj| %>
                    <li class="list-group-item" id="message_show">

                      <p>Tun nhắn: <%= message.message_content %></p>
                      <% if current_student %>
                        <%= link_to obj.user.name, tutor_path(obj) %>
                      <% elsif current_tutor %>
                        <%= link_to obj.user.name, student_path(obj) %>
                      <% end %>
                      <br>
                      <%= link_to "Xóa tin", message_path(message), method: :delete,remote: true,
                              data: { confirm: "Bạn có chắc muốn xóa message này không?"},
                              class: "btn btn-xs btn-danger" %>
                    </li>
                  <% end %>
                </ul>
                  <% if @temp_hash.size == 0 %>
                    Không có tin nhắn
                  <% end %>
                <% end %>

              </div>
          </div>

        </div>
    </div>
    </div>
</div>
