
<div class="edus-container">
    <div class="edus-box">
        <div class="edus-background">
          <div class="edus-ava">
            
          </div>
          <div class="edus-edit">
            <%# <button class="btn btn-primary">Edit your profile</button> %>
            <%= link_to 'Edit your profile',  edit_user_registration_path  %>
          </div>
        </div>
        <div class="edus-area">
          <div class="edus-header">
            <h2><%= @user.username %></h2>

          </div>
          <hr/>
          
          <div class="edus-show-info">
            <div>
                Email:
            </div>
            <div class="edus-show-info-content">
                <%= @user.email %>
            </div>

            <div>
                Username:
            </div>
            <div class="edus-show-info-content">
                <%= @user.username %>
            </div>

            <div>
                Uid:
            </div>
            <div class="edus-show-info-content">
                <%= @user.uid %>
            </div>

            <div>
                Name:
            </div>
            <div class="edus-show-info-content">
                <%= @user.name %>
            </div>

            <div>
                Phone:
            </div>
            <div class="edus-show-info-content">
                <%= @user.phone %>
            </div>

            <div>
                Gender:
            </div>
            <div class="edus-show-info-content">
                <%= @user.gender %>
            </div>

             <div>
                Age:
            </div>
            <div class="edus-show-info-content">
                <%= @user.age %>
            </div>

            <div>
                Bpoint:
            </div>
            <div class="edus-show-info-content">
                <%= @user.bpoint %>
            </div>
          </div>


        </div>
    </div>
</div>
