<%= form_for @class_register do |f| %>

    <div class="stued-content">
      <div class="stued-content-block">
        <%= f.label :description, "Mô tả lớp học" %>
        <%= f.text_area :description ,class: "form-control",placeholder: "", autofocus: true %>
        <small><span id="description_error"></span></small>
      </div>


      <div class="stued-content-block">
          <%= f.label :subject_id, "Môn học" %>
          <%= f.collection_select(:subject_id, Subject.all, :id, :name, {prompt: "Chọn môn học"}, {:class=>"custom-select"}) %>
      </div>


      <div class="stued-content-block">
          <%= f.label :location_id, "Tỉnh/Thành phố " %><br/>
          <%= f.select("location_id", Location.select(:city, :city_id).distinct.collect { |p| [ p.city, p.city_id ] }, { },{:class=>"location-city custom-select"})%>
          <span id="work_place_error" class="my-error-span"></span>
      </div>

      <div class="stued-content-block">
          <%= f.label :location_id, "Quận/Huyện" %><br/>
          <%= f.select("location_id", {}, { },{:class=>"location-district custom-select"})%>
          <span id="work_place_error" class="my-error-span"></span>
      </div>

      <div class="stued-content-block">
          <%= f.label :location_id, "Phường/Xã" %><br/>
          <%= f.select("location_id", {}, { },{:class=>"location-sub-district custom-select"})%>
          <span id="work_place_error" class="my-error-span"></span>
      </div>



      <div class="stued-content-block">
          <%= f.label :salary, "Lương gia sư",class:"" %>
          <%= f.text_field :salary ,class: "form-control",placeholder: "" %>
      </div>

      <div class="stued-content-block">
          <%= f.label :tutor_gender, "Giới tính gia sư",class:"" %>
          <!-- <%= f.text_field :tutor_gender ,class: "form-control",placeholder: "" %> -->
          <select name="class_register[tutor_gender]" id="class_register_tutor_gender" class="custom-select">
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
            <option value="Cả hai">Cả hai</option>
          </select>
      </div>

      <div class="stued-content-block">
          <%= f.label :num_student, "Số học viên tham gia",class:"" %>
          <%= f.number_field :num_student ,class: "form-control",placeholder: "" %>
      </div>

      <div class="stued-content-block">
          <%= f.label :class_content, "Chi tiết nội dung lớp học",class:"" %>
          <%= f.text_area :class_content ,class: "form-control",placeholder: "" %>
            <small><span id="class_content_error"></span></small>
      </div>

      <div class="stued-content-block">
          <%= f.label :address, "Địa chỉ chi tiết",class:"" %>
          <%= f.text_area :address ,class: "form-control",placeholder: "" %>
          <small><span id="address_error"></span></small>
      </div>

      <div class="field form-group">
        <div class="control-label">
          <%= f.label :hours_lesson, "Giờ học trong 1 buổi" %>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <%= f.radio_button :hours_lesson, 1 %> 1h
          </label>
          <label class="form-check-label">
            <%= f.radio_button :hours_lesson, 1.5 %> 1.5h
          </label>
          <label class="form-check-label">
            <%= f.radio_button :hours_lesson, 2 %> 2h
          </label>
          <label class="form-check-label">
            <%= f.radio_button :hours_lesson, 2.5 %> 2.5h
          </label>
        </div>
      </div>

      <div class="field form-group">
        <div class="control-label">
          <%= f.label :lessons_week, "Số buổi học 1 tuần" %>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <%= f.radio_button :lessons_week, 1 %> 1 buổi
          </label>
          <label class="form-check-label">
            <%= f.radio_button :lessons_week, 2 %> 2 buổi
          </label>
          <label class="form-check-label">
            <%= f.radio_button :lessons_week, 3 %> 3 buổi
          </label>
          <label class="form-check-label">
            <%= f.radio_button :lessons_week, 4 %> 4 buổi
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :times_free_ids, "Lịch rảnh" %>
      <div class="checkbox-form">
        <div class="checkbox-area">
          <div class="checkbox-grid">
          <% i = 0 %>
          <% TimesFree.all.each do |timesfree| %>
            <% i = i+1 %>
            <% if i%3 == 1 %>
                <div class="row-calendar-check">
                    <h6><%= timesfree.day %></h6>
                    <ul>
            <% end %>
            <li>
                <%= check_box_tag "class_register[times_free_ids][]",timesfree.id,@class_register.times_free_ids.include?(timesfree.id), { id: "class_register_times_free_ids_#{timesfree.id}" } %>
                <%= label_tag "class_register[times_free_ids][#{timesfree.id}]",timesfree.free_time %>
            </li>
            <% if i%3 == 0 %>
                    </ul>
                </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit "Tạo lớp học", class: "mbtn-primary" %>
    </div>
<% end %>
