<div class="edus-containter">
  <div class="edus-box">
    <div class="class-sh-container">
      <div class="class-sh-1">
        <div class="class-sh-1-header">
          <div class="class-sh-1-header-first">
            <i class="fa fa-check-circle"></i>
            <h2>
              <%= @class_register.description %>
            </h2>
          </div>
          <div class="class-sh-1-header-second">
            <div>
              <i class="fa fa-user-o"></i>
              CSKH Loc
            </div>
            <div>
              <i class="fa fa-calendar"></i>
              02.04.2020 - 11:09
            </div>
            <div>
                Mã số lớp :
            </div>
          </div>
        </div>

        <div class="class-sh-1-content">
          <div>
            <div class="status-row">
              <i class="fa fa-bookmark"></i>
              <span>
                Trạng thái: 
              </span>
              <span>
                <%= @class_register.class_status %>
              </span>
            </div>
            <div>
              <i class="fa fa-book"></i>
              <span>
                Môn học:
              </span>
              <span>
                <%= @class_register.subject.name%>
              </span>
            </div>
            <div>
              <i class="fa fa-briefcase"></i>
              <span>
                Hình thức học:
              </span>
              <span>
                Online
              </span>
            </div>
            <div>
              <i class="fa fa-map-marker"></i>
              <span>
                Địa chỉ:
              </span>
              <span>
                <%= @class_register.location.city %>
              </span>
            </div>
          </div>

          <div>
              <div>
                <i class="fa fa-venus-mars"></i>
                <span>
                Tìm gia sư:
                </span>
                <span>
                  <%= @class_register.tutor_gender if @class_register.tutor_gender %>
                </span>
              </div>
              <div>
                <i class="fa fa-user-o"></i>
                <span>
                Số học viên: 
                </span>
                <span>
                  <%= @class_register.num_student if @class_register.num_student%>
                </span>
              </div>
              <div>
                <i class="fa fa-book"></i>
                <span>
                Thời lượng: 
                </span>
                <span>
                  Tuần <%= @class_register.lessons_week %> buổi (<%= @class_register.hours_lesson %> giờ)
                </span>
              </div>
              <div class="salary-row">
                <i class="fa fa-money"></i>
                <span>
                Học phí 1 buổi:
                </span>
                <span>
                  <%= @class_register.salary %>
                </span>
              </div>
            </div>

            <div>
          <div class="fee-row">
            <span>
              Phí nhận lớp: 
            </span>
            <span>
              600.00vnd
            </span>
          </div>
          <div>
            <span>
              ( Trả phí sau )
            </span>
          </div>
          <div>
            <% if current_tutor %>
                <%= form_with(url: register_path(@class_register), method: "patch",local: true) do %>
                  <%= submit_tag("Đăng ký ngay", class: "mbtn-primary") %>
                <% end %>
              <% end %>
              <% if current_student == @class_register.student %>
                <%= link_to "Những giáo viên đăng ký", select_tutors_path(@class_register), class:'mbtn-primary' %>
                <%= link_to "Xóa lớp", class_register_path(@class_register), method: :delete,
                        data: { confirm: "Are you sure you want to delete the class?"},
                        class: "mbtn-primary" %>
              <% end %>
          </div>
          <div>
            <p>Số gia sư đăng ký: <%= @class_register.tutors.count %>/6</p>
          </div>
          </div>
        </div>
      </div>

      <div class="class-sh-2">
        <div class="class-sh-2-item">
          <div class="class-sh-2-header">
            <i class="fa fa-quote-right"></i>
            <h2>Mô tả lớp học</h2>
          </div>
          <div class="class-sh-2-content">
            <p><%= @class_register.class_content %></p>
          </div>
        </div>
        <div class="class-sh-2-item">
          <div class="class-sh-2-header">
            <i class="fa fa-calendar"></i>
            <h2>Thời khóa biểu</h2>
          </div>
          <div class="class-sh-2-content">
            <div class="checkbox-area">
              <div class="checkbox-grid">
              <% i = 0 %>
              <% TimesFree.all.each do |timesfree| %>
                <% i = i+1 %>
                <% if i%3 == 1 %>
                    <div class="row-calendar-check">
                        <h6><%= timesfree.day %></h6>
                        <ul>
                <% end %>
                            <li>
                                <% if @class_register.times_frees.include? timesfree %>
                                  <div class="label-for-show-active"> <%= timesfree.free_time %></div>
                                <% else %>
                                  <div class="label-for-show"> <%= timesfree.free_time %></div>
                                <% end %>
                            </li>
                <% if i%3 == 0 %>
                        </ul>
                    </div>
                <% end %>
              <% end %>
              </div>
            </div>
            <% if current_student == @class_register.student %>
              <%= link_to "Sửa thông tin lớp học", edit_class_register_path(@class_register), class: "mbtn-primary " %>
              <%= link_to "Share", edit_class_register_path(@class_register), class: "mbtn-primary " %>
            <% end %>
            <% if current_student %>
              <%= link_to "Tạo lớp học", new_class_register_path, class:"mbtn-primary" %>
            <% end %>
            <% if current_student == @class_register.student %>
              <%= link_to "Xóa lớp học", class_register_path(@class_register), method: :delete,
                          data: { confirm: "Are you sure you want to delete this class?"},
                          class: "mbtn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    <!-- Code cũ của Huy -->


<!--
<div id="show-main">
    <div id="class-show-head">
      <h5 style="padding:5px;"><%= @class_register.description %></h5>
      <hr class="solid">
      <div id="left-element">
        Trạng thái: <%= @class_register.class_status %><br>
        Môn học: <%= @class_register.subject.name %><br>
        Tuần  <%= @class_register.lessons_week %> buổi (<%= @class_register.hours_lesson %> giờ)<br>
        Học phí: <%= @class_register.salary %><br>
      </div>

      <div id="front-element">
        Tìm gia sư: <%= @class_register.tutor_gender if @class_register.tutor_gender %><br>
        Số học viên: <%= @class_register.num_student if @class_register.num_student%><br>
        Địa chỉ: <%= @class_register.location.city %><br>
        Phí nhận lớp 300.000vnđ<br>
      </div>

      <div id="right-element">
        <% if current_tutor %>
          <%= form_with(url: register_path(@class_register), method: "patch",local: true) do %>
            <%= submit_tag("Đăng ký ngay", class: "mbtn-primary") %>
          <% end %>
        <% end %>
        <% if current_student == @class_register.student %>
          <%= link_to "Những giáo viên đăng ký", select_tutors_path(@class_register), class:'mbtn-primary' %>
          <%= link_to "Xóa lớp", class_register_path(@class_register), method: :delete,
                  data: { confirm: "Are you sure you want to delete the class?"},
                  class: "mbtn-primary" %>
        <% end %>
        <br>
        <p>Số gia sư đăng ký: <%= @class_register.tutors.count %>/6</p>
      </div>

    </div>

    <div id="class-show-head">
      <h5> Chi tiết nội dung cần học</h5>
      <hr class="solid">
      <p><%= @class_register.class_content %></p>
    </div>

    <div id="class-show-mid">
      <h5>Lịch học dự kiến (có thể thỏa thuận)</h5>
      <hr class="solid">
      <div class="checkbox-form">
        <div class="checkbox-area">
          <div class="checkbox-grid">
          <% i = 0 %>
          <% TimesFree.all.each do |timesfree| %>
            <% i = i+1 %>
            <% if i%3 == 1 %>
                <div class="row-calendar-check">
                    <h6><%= timesfree.day %></h6>
                    <ul>
            <% end %>
                        <li>
                            <% if @class_register.times_frees.include? timesfree %>
                              <div class="label-for-show-active"> <%= timesfree.free_time %></div>
                            <% else %>
                              <div class="label-for-show"> <%= timesfree.free_time %></div>
                            <% end %>
                        </li>
            <% if i%3 == 0 %>
                    </ul>
                </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
      <%= link_to "Sửa thông tin lớp học", edit_class_register_path(@class_register), class: "mbtn-primary " %>
      <%= link_to "Tạo lớp học", new_class_register_path, class:"mbtn-primary" %>
      <%= link_to "Xóa lớp học", class_register_path(@class_register), method: :delete,
                  data: { confirm: "Are you sure you want to delete this class?"},
                  class: "mbtn-primary" %>
    </div>
</div>>

<!-->
