<section class="extra-navbar">  
  <ul class="extra-navbar__item">
    <li>
      <%= link_to new_class_register_path do  %>
        <i class="fa fa-plus-circle"></i>
        <h2>Đăng yêu cầu</h2>
      <% end %>
    </li>
    <li>
      <%= link_to class_registers_path do  %>
        <i class="fa fa-book"></i>
        <h2>Danh sách lớp </h2>
      <% end %>
    </li>
    <% if !current_tutor && !current_student %>
      <li>
        <%= link_to new_tutor_path do  %>
          <i class="fas fa-chalkboard"></i>
          <h2>Trở thành gia sư</h2>
        <% end %>
      </li>

      <li>
        <%= link_to new_student_path do  %>
          <i class="fa fa-graduation-cap"></i>
          <h2>Trở thành học sinh</h2>
        <% end %>
      </li>

    <% else %>
      <% if current_student %>
        <li>
          <%= link_to student_path(current_student) do  %>
            <i class="fa fa-graduation-cap"></i>
            <h2>Bạn đang là học sinh</h2>
          <% end %>
        </li>  
      <% else %>
        <li>
          <%= link_to tutor_path(current_tutor) do  %>
            <i class="fas fa-chalkboard"></i>
            <h2>Bạn đang là gia sư</h2>
          <% end %>
        </li>
      <% end %> 
    <% end %>
  </ul>
</section>