<header>
    <div class="logo-container">
        <div class="logo-area">
            <a href="#">
                <!-- <span>bestustu</span> -->
                <%# <img src="/Img/logo.png" alt=""> %>
                <%= image_tag("images/logo.png")%>
            </a>
        </div>
    </div>

    <%= form_tag tutors_path, :method => 'get',class:"search-container", autocomplete: "off" do %>
        <div class="search-area">
            <%= text_field_tag 'search_input', nil, placeholder: 'Search by name or id' %>
            <%= submit_tag "Search", id: "search-submit" %>
        </div>
    <% end %>
<!--
    <%= form_tag tutors_path, :method => 'get',class:"search-container",id: "search-location", autocomplete: "off" do %>
        <div class="search-area">
            <%= text_field_tag 'search_input', nil, placeholder: 'Tìm giáo viên bằng địa điểm' %>
            <%= submit_tag "Search", id: "search-submit" %>
        </div>
    <% end %> -->

    <div class="nav-container">
        <div class="nav-area">
            <nav>
                <ul class="menu">
                    <li >
                        <%# <a href="#">HOME</a> %>
                        <%= link_to 'HOME', root_path%>
                    </li>
                    <li>
                        <%= link_to 'CLASS', edit_user_registration_path%>

                        <ul class="submenu">
                            <li><a href="#">Class list</a></li>
                        </ul>
                    </li>
                    <li>
                        <%= link_to 'TUTOR', new_user_registration_path%>
                        <%# <ul class="submenu">
                            <li><a href="#">Show all tutor</a></li>
                            <li><a href="#">Second submenu</a></li>
                            <li><a href="#">Third submenu</a></li>
                            <li><a href="#">Fourth submenu</a></li>
                        </ul> %>
                    </li>
                    <li>
                        <a href="#">ABOUT</a>
                        <%# <ul class="submenu">
                            <li><a href="#">First submenu</a></li>
                            <li><a href="#">Second submenu</a></li>
                            <li><a href="#">Third submenu</a></li>
                            <li><a href="#">Fourth submenu</a></li>
                        </ul> %>
                    </li>
                    <li>
                        <a href="#">CONTACT</a>
                          <%# <ul class="submenu">
                            <li><a href="#">First submenu</a></li>
                            <li><a href="#">Second submenu</a></li>
                            <li><a href="#">Third submenu</a></li>
                            <li><a href="#">Fourth submenu</a></li>
                        </ul> %>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="sign-container">
        <div class="sign-area">
            <%# <a class="sign-in-area" href="sign-in.html"> %>

            <% if current_user %>
                <div class="sign-in-area-father">
                    <div class="sign-in-area">
                        <div class="sign-in-header">
                            <i class="fas fa-user-edit"></i>
                            <% if current_user.username %>
                                <%= current_user.username%>
                            <% else %>
                                Your Profile
                            <% end %>
                        </div>
                    </div>
                    <%= link_to show_user_info_path(current_user), class:'sign-in-area' do %>
                        <div class="sign-in-header">
                            <i class="fas fa-house-user"></i>
                            <span >Hồ sơ người dùng</span>
                        </div>
                    <% end %>
                    <% if current_student %>
                        <%= link_to student_path(current_student), class:'sign-in-area' do %>
                            <div class="sign-in-header">
                                <i class="fa fa-graduation-cap"></i>
                                <span >Hồ sơ học sinh</span>
                            </div>
                        <% end %>
                    <% elsif current_tutor %>
                        <%= link_to tutor_path(current_tutor), class:'sign-in-area' do %>
                            <div class="sign-in-header">
                                <i class="fas fa-chalkboard"></i>
                                <span >Hồ sơ gia sư</span>
                            </div>
                        <% end %>
                    <% end %>
                </div>
                <%= link_to  destroy_user_session_path, method: :delete, class:'sign-up-area' do %>
                    <div class="sign-up-header">
                        <i class="fas fa-sign-in-alt"></i> Log out
                    </div>
                <% end %>
            <% else %>
                <%= link_to new_user_session_path, class:'sign-up-area' do %>
                    <div class="sign-up-header">
                        <i class="fas fa-sign-in-alt"></i> Sign in
                    </div>
                <% end %>
                <%= link_to new_user_registration_path, class:'sign-up-area' do %>
                    <div class="sign-up-header">
                        <i class="fas fa-user-plus"></i> Sign up
                    </div>
                <% end %>

            <% end %>
        </div>
    </div>

</header>
