<header>
    <div class="logo-container">
        <div class="logo-area">
            <%= link_to root_path, target: "__blank" do %>
                <!-- <span>bestustu</span> -->
                <%# <img src="/Img/logo.png" alt=""> %>
                <%= image_tag("images/logo.png")%>
            <% end %>
        </div>
    </div>

    <%= form_tag tutors_path, :method => 'get',class:"search-container", autocomplete: "off" do %>
        <div class="search-area">
            <%= text_field_tag 'search_input', nil, placeholder: 'Tìm gia sư theo môn học và địa điểm' %>
            <%= submit_tag "Tìm kiếm", id: "search-submit" %>
        </div>
    <% end %>

    <div class="nav-container">
        <div class="nav-area">
            <nav>
                <ul class="menu">
                    <li >
                        <%# <a href="#">HOME</a> %>
                        <%= link_to 'Trang chủ', root_path%>
                    </li>
                    <li>
                        <%= link_to 'Lớp học', class_registers_path%>
                    </li>
                    <li>
                        <%= link_to 'Gia sư', tutors_path%>
                    </li>
                    <li>
                        <a href="#footer-left" id="about">Thông tin</a>
                    </li>
                    <li>
                        <a href="#footer-right" id="contact">Liên hệ</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="sign-container">
        <div class="sign-area">

            <% if current_user %>
                <div class="user-info">
                    <div class="sign-in-area-father">
                        <div class="sign-in-area">
                            <div class="sign-in-header">
                                <i class="fas fa-user-edit"></i>
                                <% if current_user.username %>
                                    <%= current_user.username%>
                                <% else %>
                                    Hồ sơ của bạn
                                <% end %>
                            </div>
                        </div>
                        <%= link_to show_user_info_path(current_user), class:'sign-in-area' do %>
                            <div class="sign-in-header">
                                <i class="fas fa-house-user"></i>
                                <span >Hồ sơ người dùng</span>
                            </div>
                        <% end %>
                        <% if current_student %>
                            <%= link_to student_path(current_student), class:'sign-in-area' do %>
                                <div class="sign-in-header">
                                    <i class="fa fa-graduation-cap"></i>
                                    <span >Hồ sơ học sinh</span>
                                </div>
                            <% end %>

                        <% elsif current_tutor %>
                            <%= link_to tutor_path(current_tutor), class:'sign-in-area' do %>
                                <div class="sign-in-header">
                                    <i class="fas fa-chalkboard"></i>
                                    <span >Hồ sơ gia sư</span>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="noti-icon">
                    <a href="#">
                        <i class="fa fa-comments"></i>
                        <% if current_student || current_tutor %>
                            <% if messages.count > 0%>
                                <div>
                                    <%= messages.count %>
                                </div>
                                <div>
                                <% messages.each do |m|%>
                                    <div>
                                        <span>Thông báo:</span>
                                        <%= m.message_content[0..60]%>
                                        <% if m.message_content.length >= 60 %>
                                            ...
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                            <% end %>
                        <% end %>
                    </a>
                    <a href="#">
                        <i class="fa fa-bell"></i>
                        <% if current_student || current_tutor %>
                            <% if messages.count > 0%>
                                <div>
                                    <%= messages.count %>
                                </div>
                                <div>
                                <% messages.each do |m|%>
                                    <div>
                                        <span>Thông báo:</span>
                                        <%= m.message_content[0..60]%>
                                        <% if m.message_content.length >= 60 %>
                                            ...
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                            <% end %>
                        <% end %>
                    </a>
                </div>
                <div>
                    <%= link_to  destroy_user_session_path, method: :delete, class:'sign-up-area' do %>
                        <div class="sign-up-header">
                            <i class="fas fa-sign-in-alt"></i> Đăng xuất
                        </div>
                    <% end %>
                </div>

            <% else %>
                <%= link_to new_user_session_path, class:'sign-up-area' do %>
                    <div class="sign-up-header">
                        <i class="fas fa-sign-in-alt"></i> Đăng nhập
                    </div>
                <% end %>
                <%= link_to new_user_registration_path, class:'sign-up-area' do %>
                    <div class="sign-up-header">
                        <i class="fas fa-user-plus"></i> Đăng ký
                    </div>
                <% end %>

            <% end %>
        </div>
    </div>

</header>
